<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simply siam</title>
    <link rel="icon" type="image/gif/png" href="icon.png">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>




    <nav>

        <ul>

            <li class="active">
                <a href="/index">Home</a>

            </li>

            <li>
                <a href="/menu">Menu</a>
            </li>



            <li>
                <a href="/login">Login</a>
            </li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        </div>

    </nav>
    <div class="pimg1">
        <div class="ptext">
            <span class="border">
                    Simply Siam Thai Restaurant      
             </span>
        </div>
    </div>

    <section class="section section-light">
        <p>
            Welcome to Simply Siam, a Thai restaurant located in the heart of Maryville, MO. We serve authentic Thai food in a soothing, family-friendly environment at prices that can't be beat. If you've never experienced Thai food, imagine that other Asian cuisine
            you know and love, but with pizzazz. Fresher, bolder and, if you'd like, with a nice spicy kick (optional, of course).
        </p>
    </section>

    <div class="pimg2">
        <div class="ptext">
            <span class="border trans">
                    Tasteful Recipes

      </span>
        </div>
    </div>

    <section class="section section-dark">
        <p>
            Thailand (formerly Siam) is an exotic kingdom in the heart of Southeast Asia. Known for its rich history, vibrant culture, and delicious cuisine, Thailand blends modern living into thousands of years of tradition, creating a truly unique identity.
        </p>
    </section>

    <div class="pimg3">
        <div class="ptext">
            <span class="border trans">
                    Simply Exotic. Simply Delicious. Simply Siam.
      </span>
        </div>
    </div>

    <section class="section section-dark">

        <p>
            Come on in and give us a try, or call 660-582-2077 and we'll deliver anywhere in town, including the Northwest campus.

        </p>
    </section>


    <script src="home.js"></script>
</body>
<footer>

</footer>

</html>