<!DOCTYPE html>
<!-- Sai Nithin Reddy Muppidi -->
<html>

<head>
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="page.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        function validateForm() {
            var x = document.forms["myForm"]["fname"].value;
            if (x == "test") {
                alert("Name must be filled out");
                return false;
            }
        }
    </script>

    <style>
        #login-text {
            background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/0f/39/d1/ed/simply-siam.jpg");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
        }
    </style>


</head>

<body id="bcknone">
    <nav>

        <ul>

            <li class="active">
                <a href="/index">Home</a>

            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/menu">Dine-In</a></li>
                    <li> <a href="/menu">Pick Up</a></li>
                    <li><a href="/menu">Delivery</a></li>
                </ul>

                <li>
                    <a href="/login">Login</a>
                </li>
                <li><a href="/contact">Contact</a></li>
        </ul>
        </div>

    </nav>



    <div class="loginBox">
        <img src=user.png class="user">
        <h3>Log In Here</h3>
        <form action="register" method="POST">
            <p>Email</p>
            <input type="text" name="logemail" placeholder="Enter the Email" required="true">
            <p>Password</p>
            <input type="password" name="logpassword" placeholder="*********" required="true">
            <input type="submit" name="" value="Sign In">
            <a id="forgetpass" href="#">Forgot password</a><br>
            <p>Don't have account? </p>
            <a onClick="$('.loginBox').hide(); $('.signUpBox').show()">
                  Sign Up Here
                </a>
        </form>
    </div>

    <div class="signUpBox">
        <img src=user.png class="user">
        <h3>Registration</h3>
        <form action="register" method="POST">
            <p>First Name</p>
            <input type="text" name="firstname" placeholder="First name" required="true">
            <p>Last Name</p>
            <input type="text" name="lastname" placeholder="Last name" required="true">
            <p>Email</p>
            <input type="text" name="email" placeholder="Enter the Email" required="true">
            <p>Password</p>
            <input type="password" name="password" placeholder="*********" required="true">
            <p>Confirm Password</p>
            <input type="password" name="cpassword" placeholder="*********" required="true">
            <input type="submit" name="" onclick="regsuccess" value="Register">
            <p>Already have an account? </p>
            <a onClick="$('.signUpBox').hide(); $('.loginBox').show()">
                 Sign In Here
                </a>
        </form>
    </div>



    <script src="fb.js"></script>
</body>

</html>