<center>{{message}}</center>
<section id="contact">
  <div class="container">
    <div class="well well-sm">
      <h5><strong>Contact Us</strong></h5>
    </div>
	
	<div class="row">
	  <div class="col-md-7">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3040.726527458893!2d-94.8752258852796!3d40.34841217937309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87eac572aa0837df%3A0x9b4fa047cf9a658d!2sSimply+Siam+Thai+Restaurant!5e0!3m2!1sen!2sus!4v1508287290980" width="90%" height="390" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

      <div class="col-md-5">
        <form action="/sendemail" method="post">
          <div class="form-group">
            <input type="text" class="form-control" name="firstname" placeholder="first name" required="true">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="lastname" placeholder="last name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email"  placeholder="E-mail">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="number"  placeholder="Phone">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="3" placeholder="Message"></textarea>
          </div>
          <button class="btn btn-default" type="submit" name="button">
              <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Send Message
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
    
    <footer>     
      <div class ="container">
  <div class="col-md-6">
    <p>Contact Us @(660)582-2077</p>
<div class ="social-icons icon-circle list-unstyled list-inline">
  <a href="https://www.facebook.com/Simply-Siam-Thai-Food-761926770578640/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>&nbsp&nbsp&nbsp
  <a href="https://twitter.com/siams518856" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>&nbsp&nbsp&nbsp
  
  
     </div>
     </div>
     </div> 
     
      
</footer>
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>
    </body>
</html>