<style>
  .parallax1 {
    /* The image used */
    background-image: url("https://bloximages.chicago2.vip.townnews.com/maryvilledailyforum.com/content/tncms/assets/v3/editorial/d/e8/de855fd2-d192-11e5-9e2e-f705bbee4583/56bde96bd477e.image.jpg?resize=1200%2C900");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
    /* The image used */
     background-image: url("map.png");
    background-image: url("https://images.pexels.com/photos/5876/food-salad-healthy-vegetables.jpg?auto=compress&cs=tinysrgb&h=650&w=940");



    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3 {
    /* The image used */
    background-image: url("https://images.pexels.com/photos/175753/pexels-photo-175753.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}


.arrow_box {
  position: relative;
  background: #88b7d5;
  border: 4px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #88b7d5;
  border-width: 30px;
  margin-left: -30px;
}
.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #c2e1f5;
  border-width: 36px;
  margin-left: -36px;
}

.navigator
{
    position: fixed;
    z-index: 999;
    top: 50%;
    right: 48px;

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);

    opacity: 0;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
#footer {
   background-color: #000000;
    

     float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;

}


  </style>
</head>
<body>
<!-- *******************facebook login code********************* -->


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '409127379511434',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
      
    // FB.AppEvents.logPageView(); // this is not required   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<!-- *********************************************************** -->

<!--  fb button code-->

<div id="fb-root"></div>

<script>

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12&appId=409127379511434&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));




// _____________


function checkLoginState() {
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
}

function statusChangeCallback(response){

  FB.api('/me?fields=first_name,last_name,email,gender,age_range,picture.width(150).height(150)', 
    function(response) {
      // console.log('Successful login for: ' + response.name);
      document.getElementById('name').innerHTML = response.first_name +' '+ response.last_name;
      document.getElementById('email').innerHTML = response.email ;
      document.getElementById('gender').innerHTML = response.gender ;
      document.getElementById('age').innerHTML = (response.age_range.min) + "-" + (response.age_range.min + 1) + " years old";
      document.getElementById('picture').innerHTML = "<img src='" + response.picture.data.url + "'>"
      document.getElementById('birthday').innerHTML = response.birthday;

         document.getElementById('loginBtn').style.display= "block" ;
         document.getElementById('name').style.display= "block" ;
         document.getElementById('email').style.display= "block" ;
         document.getElementById('gender').style.display= "block" ;
         document.getElementById('age').style.display= "block" ;
         document.getElementById('picture').style.display= "block" ;
         document.getElementById('birthday').style.display= "block" ;

         document.getElementById('logoutBtn').style.display= "block" ;

    });
}
// _____________

function logout(response)
{

  FB.logout(function(response) {
   // Person is now logged out

      document.getElementById('loginBtn').style.display= "block" ;
document.getElementById('name').style.display= "none" ;
document.getElementById('email').style.display= "none" ;

  document.getElementById('gender').style.display= "none"  ;
         document.getElementById('age').style.display= "none"  ;
         document.getElementById('picture').style.display= "none"  ;
         document.getElementById('birthday').style.display= "none"  ;
      document.getElementById('logoutBtn').style.display= "none" ;
});
}  
</script>




<!-- fb button code ends  -->

<div class="navigator" style="opacity: 1.25; transform: matrix(1, 0, 0, 1, 0, 0);"> </div>


<div class="container">
  



<div class="parallax1" ></div>
<div class="arrow_box"> </div>

<div style="height:200px;background-color:white;font-size:22px;font-family:family-name|generic-family|initial|inherit;">
<h2 Style=" font-family:cursive">
  About Us
</h2>
Welcome to Simply Siam, a Thai restaurant located in the heart of Maryville, MO. We serve authentic Thai food in a soothing, family-friendly environment at prices that can't be beat. If you've never experienced Thai food, imagine that other Asian cuisine you know and love, but with pizzazz. Fresher, bolder and, if you'd like, with a nice spicy kick (optional, of course).
</div>
<div class="parallax2"></div>
<div class="arrow_box"> </div>
<div style="height:180px;background-color:white;font-size:22px;font-family:family-name|generic-family|initial|inherit;">

<h2 Style=" font-family:cursive">
  Thailand
</h2>

Thailand (formerly Siam) is an exotic kingdom in the heart of Southeast Asia. Known for its rich history, vibrant culture, and delicious cuisine, Thailand blends modern living into thousands of years of tradition, creating a truly unique identity.
</div>
<div class="parallax3"></div>
<div class="arrow_box"> </div>
<div style="height:150px;background-color:white;font-size:22px;font-family:family-name|generic-family|initial|inherit;">
<h2 Style=" font-family:cursive">
  
Simply Exotic. Simply Delicious. Simply Siam.

</h2>
Come on in and give us a try, or call 660-582-2077 and we'll deliver anywhere in town, including the Northwest campus.
</div>

</div>

</body>
<div>
<footer id="footer" class="col-xs-12">
          <hr />
          <div id="footer-copyright">&copy; 2018 <a href= target="_blank">Simplysiam.com</a> All rights reserved.</div> <div id="footer-links"><a href="https://Simplysiam/privacy-policy.html" target="_blank">Privacy Policy</a> &#124; <a href="https://Simplysiam.com/customer-faq" target="_blank">FAQ</a></div>
        

<!--  testing -->

<!-- <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div> -->


